

main {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navlinks {
    box-shadow: 10px 0px 4px 6px #000;
}

.head {
    padding: 70px;
    padding-top: 82px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    background-image: url('./coach.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    background-position: fixed;
}

.grid {
    padding: 30px;
    margin: 30px
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: small;
    background-color: black;
    color: white;
}

.box {
    padding: 60px;
    margin: 30px;
}

.mainbody {
    margin: 20px;
}

.row-space {
    margin-top: 15px;
    margin-bottom: 15px;
}

.span {
    margin-left: 20px;
    margin-right: 100px;
}

.footer-con {
    display: flex;
}

.answer {
    margin-left: 5px;
}

.services {
    padding-top: 30px;
}

#catch {
    padding-bottom: 10px;
}
@media screen and (max-width: 480px) {
    .footer {
        padding-left: 90px;
    }
    .box {
        padding: 20px;
        padding-top: 70px;
        margin: 10px;
    }
    .mainbody {
        margin: 10px;
        margin-top: 20px;
    }
    .head {
        padding: 30px;
        padding-top: 70px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: white;
        background-color: black;
    }
    .span {
      margin-right: 10px;
      margin-left: 10px;
      padding-top: 7px;
      padding-bottom: 7px;
      display: flex;
    }
    .footer-con {
        display: block;
        margin-left: 40px;
    }
  }